[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/geo/Desktop/steam.desktop]
row=3
col=0

[/home/geo/Desktop/exo-web-browser.desktop]
row=4
col=0

[/home/geo/Desktop/org.kde.krusader.desktop]
row=5
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/geo]
row=2
col=0

